dist/
dist-prod/
dist-report/
dist-doc/
__mocks__/
node_modules/
webpack/
scripts/
pwa/

webpack*.js
**/*/init.js
gulpfile.js
jest.config.js
resolver-import.js

**/*.md
**/*.mdx
**/*.html
**/*.json
**/*.d.ts

jimu-arcgis/
jimu-core/
jimu-for-builder/
jimu-for-test/
jimu-icons/
jimu-layouts/
jimu-theme/
jimu-ui/
