#toolbarDiv {
    display: inline-flex;
    background: none;
    position: relative;
}

#toolbarDiv button {
    width: 50px;
    margin: 3px;
}

#clickCoordinates {
    background-color: aqua;
}

.esri-measurement-position {
    padding: 5px;
}

.esri-measurement-position-coordinate {
    width: 50%;
    display: inline-grid;
}
.esri-measurement-position-coordinate-number {
    min-height:30px;
}

.esri-measurement-selectsrs {
    margin: 10px;
}

.esri-measurement-selectsrs-radio {
    display:block;
}

.esri-measurement-widget-content__measurement-item__value {
    display: none;
}

.esri-measurement-widget-content__measurement-item__value-rounded {
    font-weight: bold;
}

.disabled {
    background-color: #DDD !important;
}