#toolbarDiv {
    display: inline-flex;
    background: none;
    position: relative;
}

#toolbarDiv button {
    width: 50px;
    margin: 3px;
}

.esri-measurement-location-coordinate-icon {
    width: 20%;
    display: inline-grid;
}
.coordinate-icon-mouse {
    position: relative;
    padding-top: 6px;
    left: 7px;
    transform: rotate(45deg);
}    
.coordinate-icon-location {
    position: relative;
    bottom: 8px;
    left: 6px;
    padding-top: 4px;
}
.esri-measurement-location-coordinate {
    width: 40%;
    display: inline-grid;
    min-height:20px;
}

.esri-measurement-selectsrs {
    margin: 10px;
}

.esri-measurement-selectsrs-radio {
    display:block;
}

.widget-measure-and-project {
    background-color: white !important;
}

.measurement-toolbar,.text-blocks {
    padding:10px
}

.measurement-widget-space {
    min-height: 250px;
}

.esri-measurement-header {
    font-weight: bold;
    padding-bottom: 10px;
}

.esri-measurement-widget-content__measurement-item__value {
    display: none;
}

.esri-measurement-widget-content__measurement-item__value-rounded {
    font-weight: bold;
}

.disabled {
    background-color: #DDD !important;
}

#measurementWidget {
    --calcite-color-brand: #767676;
    --calcite-color-brand-hover: #666;
}